
.carrossel-titulo
{
  color: var(--rosa-5);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.card-imagem
{
  width: 130px;
  height: 250px;
}

.swiper-button-prev,
.swiper-button-next
{
  display: none;
}

.swiper-pagination
{
  position: initial;
  margin: 0.5em 0;
}

.card
{
  background: var(--branco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card-descricao
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.botoes
{
  display: flex;
  list-style-type: none;
}

.card-botoes
{
  display: flex;
  justify-content: space-between;
}

.botoes-item
{
   margin: 0 0.5em;
}

.descricao-titulo
{
  font-weight: 700;
  color: var(--rosa-5);
}

.descricao-titulo-livro
{
  color: var(--cinza-claro-2);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao-texto
{
  font-size: 14px;
}

.botoes-ancora
{
  background: var(--rosa-5);
  text-decoration: none;
  padding: 1em 2.2em;
  color: var(--preto);
  font-weight: 700;
}

.botoes-ancora:hover
{
  background: var(--rosa-1);
}

.descricao-imagem
{
  width: 150px;
  height: 250px;
  border-radius: 20px;
  margin: 1em;
}
.swiper-card
{
  background: var(--branco);
  border-radius: 30px;
  margin: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
}

.swiper-texto
{
display: none;
}

.swiper-card img
{
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.segundo-carousel .swiper-slide img {
  max-width: 100%; /* Define a largura máxima como 100% do contêiner */
  height: auto; /* Altura automática para manter a proporção da imagem */
}

@media screen and (min-width: 1024px)
{
  .carrossel-titulo
  {
    font-size: 26px;
  }
  .swiper-pagination
  {
    margin: 2em 0 3em 0;
  }

  .swiper
  {
    width: 60%;
  }

  .card
  {
    width: 40%;
    margin: 0 auto 2em auto;
  }

  .card-imagen
  {
   height: 50%;
  }

  .botoes-ancora
  {
    font-size: 16px;
    border-radius: 5px;
    position:absolute;
  }

  .swiper-card
{
  background: var(--branco);
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  margin: 1em;
  align-items: center;
  font-family: var(--font-familly-terciaria);
}

.swiper-card img {
  width: 100%;
  height: 60%; 
  object-fit: cover;
 
}

.swiper-slide {
  width: 300px; 
  height: 400px; 
}

.swiper-texto {
  height: 40%; 
  overflow: hidden; 
  text-overflow: ellipsis;
  display: flex;
}
}

@media screen and (min-width:1728px)
{
  .carrossel-container
  {
    display: flex;
    margin: 5em 20vw 3em 20vh;
    align-items: center;
  }
  .swiper-pagination
  {
    margin: 1em 0;
  }

  .swiper
  {
    width: 50%;
  }

 .descricao-titulo
 {
  font-size: 32px;
 }

 .descricao-titulo-livro
 {
  font-size: 16px;
 }

 .card
 {
  width: 60%;
  margin-left: 3em;
 }

 .card-descricao
 {
  margin-right: 1em;
 }

.descricao-texto
{
  font-size: 16px;
}

.swiper-card img {
  width: 100%;
  height: 60%;
  object-fit: cover; 
}

.swiper-slide {
  width: 300px;
  height: 400px;
}

.swiper-texto {
  height: 40%; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

} 