
.carrossel-titulo
{
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper-slide img
{
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next
{
  display: none;
}

.swiper-pagination
{
  position: initial;
  margin: 0.5em 0;
}

.card
{
  background: var(--branco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card-descricao
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.botoes
{
  display: flex;
  list-style-type: none;
}

.card-botoes
{
  display: flex;
  justify-content: space-between;
}

.botoes-item
{
   margin: 0 0.5em;
}

.descricao-titulo
{
  font-weight: 700;
  color: var(--laranja);
}

.descricao-titulo-livro
{
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao-texto
{
  font-size: 14px;
}

.botoes-ancora
{
  background: var(--laranja);
  text-decoration: none;
  padding: 1em 2.2em;
  color: var(--branco);
  font-weight: 700;
}

@media screen and (min-width: 1024px)
{
  .carrossel-titulo
  {
    font-size: 26px;
  }
  .swiper-pagination
  {
    margin: 2em 0 3em 0;
  }

  .swiper
  {
    width: 60%;
  }

  .swiper-button-next, .swiper-button-prev
  {
    display: block;
    top: 60%;
  }

  .card
  {
    width: 40%;
    margin: 0 auto 2em auto;
  }

}

@media screen and (min-width:1728px)
{
  .carrossel-container
  {
    display: flex;
    margin: 5em 20vw 3em 20vh;
    align-items: center;
  }
  .swiper-pagination
  {
    margin: 1em 0;
  }

  .swiper
  {
    width: 50%;
  }

 .descricao-titulo
 {
  font-size: 32px;
 }

 .descricao-titulo-livro
 {
  font-size: 16px;
 }

 .card
 {
  width: 60%;
  margin-left: 3em;
 }

 .card-descricao
 {
  margin-right: 1em;
 }

.descricao-texto
{
  font-size: 16px;
}

} 